/* Entre Page */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Page Heading */
header{
    padding: 5px 0px 10px 25px;
}

/* Main Section ofPage */
main{
    border-radius: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
}

/* All Subject */
#subjects{
    padding-left: 0;
    list-style: none;
    display: inline;
}

/* Individual Subject */
.subject{
    background-color:#225ea8;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-top: 10px;
    width: 300px;
    display: inline-table;

    border: 1px solid;
    box-shadow: 5px 5px;

}
.subject h3{
    color: white;
    padding: 10px;
}

/* Subject Item List */
.items{
    padding-left: 0;
    list-style: none;
}
/* Indvidual subject item */
.items li{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

    border: 1px solid #a1dab4;
    box-shadow: 2px 2px #a1dab4;
}
.items li:hover{
    text-decoration: line-through;
}

/* ADD Subject Input & Button */
.addSubjectContainer{
    text-align: center;
    padding: 25px;
}
.addSubjectContainer input{
    background-color: aliceblue;
    color: black;
}
#addSubject{
    background-color: #225ea8;
    color: white;
}

/* Button and Input universal styles */
input, button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    border: 1px solid;
}